* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 5px;
    padding-bottom: 20px;
}

/* HEADER */

.d-flex {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.menu-flex{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.submenu{
    display: none;
    background-color: #fefafa;
}

li:hover .submenu{
    display: block;
    position: absolute;
    top: 45px;
    left: 0;
}

header nav li{
    position: relative;
}

li:hover{
    background-color: white;
}

ul, li{
    cursor: pointer;
    padding: 6px 10px;
    display: block;
    list-style: none;
}

 a{
    text-decoration: none;
    cursor: pointer;
    padding: 6px 10px;
    display: block;
    list-style: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

nav {
    background-color: white;
    margin: 0 auto;
    height: 50px;
    padding: 0;
}

.button-blue {
    color: white;
    background-color: #0066ff;
    height: 40px;
    margin-top: 3px;
    padding:5px;
    border: none;
    cursor: pointer;
}

.button-white {
    color: black;
    background-color: white;
    height: 40px;
    margin-top: 15px;
    padding: 5px;
    cursor: pointer;
}

.button-blue:hover{
    opacity: 0.7;
}

header {
    background-color: #b8d1e5;
    position: relative;
}

h1 {
    font-size: 3.5em;
    padding-top: 30px;
}


.image-1 {
    width: 500px;
    height: 290px;
    display: block;
    position: absolute;
    right: 350px;
    bottom: -50px;
}

.fa-solid {
    font-size: 15px;
    padding: 5px;
}

/* FINE HEADER */

/* INIZIO MAIN */


h2 {
    font-size: 2.3em;
    margin-top: 100px;
}

input {
    margin-top: 40px;
    margin-left: 20px;
}

/* SECTION-1 */

.section-1 {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-between;
}

.text {
    text-align: center;
}

.debag {
    border: 1px solid grey;
}

.professional a {
    color: #0066ff;
    text-decoration: underline;
}

h3 {
    font-size: 25px;
}

h5{
    font-size: 20px;
}

.professional, h3, p{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.advanced a {
    color: #0066ff;
    text-decoration: underline;
}

.advanced, h3, p{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}



.enterprise a {
    color: #0066ff;
    text-decoration: underline;
}

.enterprise, h3, p{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}


.professional, .advanced, .enterprise {
    margin-left: 15px;
    margin-right: 15px;
}

/* SECTION-2 */

h2, input, .team {
    margin-left: 15px;
    margin-right: 15px;
}

.section-2 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
    flex-shrink: 1;
}

.team, h5, button {
    padding: 5px;
}

.flex-1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

/* SECTION-3 */

.section-3 {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-2 {
    width: 500px;
    height: 500px;
    margin-right: 20px;
    object-fit: contain;
}

/* SECTION-4 */

.section-4 {
    margin-top: 30px;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    margin-top: 50px;
}

.card {
    width: calc(100% / 3);
    padding: 0 5px 20px;
    min-width: 300px;
}

img {
    display: block;
    width: 100%;
}

/* SECTION-5 */

.section-5 {
    text-align: center;
}

/* SECTION-6 */

.section-6 {
    margin-top: 80px;
    height: 400px;
}

.square {
    position: relative;
    height: 400px;
    width: 400px;

}

.square-green {
    position: relative;
    background-color: #a2d39b;
    width: 200px;
    height: 200px;
}

.square-brown {
    position: relative;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #61082b;
    width: 200px;
    height: 200px;
}

.square-blue {
    position: relative;
    background-color: #0093ce;
    width: 200px;
    height: 200px;
}

.square-red {
    position: relative;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ff1c1c;
    width: 200px;
    height: 200px;
}

.square-grey {
    position: absolute;
    top: -400px;
    left: 400px;
    background-color: #f5f5f5;
    height: 400px;
    width: 718px;
}

.square-dark-red {
    position: relative;
    position: absolute;
    top: -800px;
    left: 1118px;
    background-color: #d5001f;
    width: 200px;
    height: 200px;
}

.square-dark-blue {
    position: relative;
    background-color: #0d2481;
    position: absolute;
    left: 1118px;
    top: -600px;
    width: 200px;
    height: 200px;
}

.square-blue-2 {
    position: relative;
    background-color: #b8d1e5;
    position: absolute;
    top: -800px;
    left: 1318px;
    height: 200px;
    width: 200px;
}

.square-yellow {
    background-color: #ffd830;
    position: relative;
    position: absolute;
    top: -600px;
    left: 1318px;
    height: 200px;
    width: 200px;
}

.position {
    position: absolute;
    top: 25%;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    filter: invert(100%);
}

.square-green:hover{
    opacity: 0.6;
    cursor: pointer;
}

.square-brown:hover{
    opacity: 0.6;
    cursor: pointer;
}

.square-blue:hover{
    opacity: 0.6;
    cursor: pointer;
}

.square-red:hover{
    opacity: 0.6;
    cursor: pointer;
}

.square-dark-red:hover{
    opacity: 0.6;
    cursor: pointer;
}

.square-dark-blue:hover{
    opacity: 0.6;
    cursor: pointer;
}

.square-blue-2:hover{
    opacity: 0.6;
    cursor: pointer;
}

.square-yellow:hover{
    opacity: 0.6;
    cursor: pointer;
}

.image-3 {
    width: 300px;
    height: 150px;
    margin-left: 20px;
}



/* SECTION-7 */

.section-7 {
    background-color: #b8d1e5;
    height: 410px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title {
    color: #61082b;
    font-size: 40px;
}

/* SECTION-8 */

.section-8 {
    margin-top: 40px;
}

details {
    border-top: 1px solid #aaa;
    padding: 0.5em 0.5em 0;
    margin-top: 15px;
  }

  summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 10px;
  }
  
  details[open] {
    padding: 0.5em;
  }
  
  details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
  }
  
/* FINE MAIN */

/* INIZIO FOOTER */

footer{
    background-color: black;
    color: white;
    margin-top: 50px;
    padding-top: 30px;
}

.footer-top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
}

.footer-bottom{
    padding-top:40px;
}

select{
    background-color: black;
    color: white;
    border: none;
}

.footer-top, h3{
    padding-bottom: 20px;

}