*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.debug{
    border: 2px solid black;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 5px;
    padding-bottom: 20px;
}

/* HEADER */

.d-flex{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

a{
    text-decoration: none;
    padding: 6px 10px;
    display: block;
    color: black;
}

ul{
    list-style: none;
}

nav{
    background-color: white;
    margin: 0 auto;
    height: 50px;
}

button{
    color: white;
    background-color: #0066ff;
    height: 30px;
    border: none;
    padding: 5px;
}

button, a:hover{
    cursor: pointer;
}

header{
    background-color: #b8d1e5;
    padding-top: 15px;
    position: relative;
}

h1{
    font-size: 3.5em;
    padding-top: 30px;
}


.image-1{
    width: 400px;
    height: 250px;
    display: block;
    position: absolute;
    right: 500px;
    bottom:-50px;
}

.fa-solid{
    font-size: 20px;
}

/* FINE HEADER */

h2{
    font-size: 2.3em;
    margin-top:100px;
}

input{
    margin-top:40px;
    margin-left: 20px;
}

.section-1{
    display: flex;
    flex-direction: row;
    margin-top:40px;
    justify-content: space-between;
}

.text{
    text-align: center;
}

.debag{
    border: 1px solid grey;
}

.professional a{
    color: #0066ff;
    text-decoration: underline;
}

.professional h3, p, ul, li, a{
    padding-top: 5px;
}


.advanced a{
    color: #0066ff;
    text-decoration: underline;
}

.advanced h3, p, ul, li, a{
    padding-top: 5px;
}


.enterprise a{
    color: #0066ff;
    text-decoration: underline;
}

.enterprise h3, p, ul, li, a{
    padding-top: 5px;
}

.professional, .advanced, .enterprise{
    margin-left: 15px;
    margin-right: 15px;
}

h2, input, .team{
    margin-left: 15px;
    margin-right: 15px;
}

.section-2{
    margin-top:40px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.team, h5, button{
    padding: 5px;
}

.flex-1{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;

}
