*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.debug{
    border: 2px solid black;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 5px;
    padding-bottom: 20px;
}

/* HEADER */

.d-flex{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

 ul, li, a{
    text-decoration: none;
    cursor: pointer;
    padding: 6px 10px;
    display: block;
    color: black;
    list-style: none;
}

a:hover{
    text-decoration: underline;
    color: #0066ff;
}

nav{
    background-color: white;
    margin: 0 auto;
    height: 50px;
    padding: 0;
}

.button-blue{
    color: white;
    background-color: #0066ff;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

header{
    background-color: #b8d1e5;
    position: relative;
}    

h1{
    font-size: 3.5em;
    padding-top: 30px;
}


.image-1{
    width: 430px;
    height: 260px;
    display: block;
    position: absolute;
    right: 500px;
    bottom:-50px;
}

.fa-solid{
    font-size: 20px;
}

/* FINE HEADER */

/* INIZIO MAIN */

h2{
    font-size: 2.3em;
    margin-top:100px;
}

input{
    margin-top:40px;
    margin-left: 20px;
}

/* SECTION-1 */

.section-1{
    display: flex;
    flex-direction: row;
    margin-top:40px;
    justify-content: space-between;
}

.text{
    text-align: center;
}

.debag{
    border: 1px solid grey;
}

.professional a{
    color: #0066ff;
    text-decoration: underline;
}

h3{
    font-size: 25px;
}

.professional h3, p, a{
    padding-top: 15px;
}

.advanced a{
    color: #0066ff;
    text-decoration: underline;
}

.advanced h3, p, a{
    padding-top: 15px;
}


.enterprise a{
    color: #0066ff;
    text-decoration: underline;
}

.enterprise h3, p, a{
    padding-top: 15px;
}

.professional, .advanced, .enterprise{
    margin-left: 15px;
    margin-right: 15px;
}

/* SECTION-2 */

h2, input, .team{
    margin-left: 15px;
    margin-right: 15px;
}

.section-2{
    margin-top:40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
    flex-shrink: 1;
}

.team, h5, button{
    padding: 5px;
}

.flex-1{
    display: flex;
    align-content: flex-start;
    justify-content: flex-end;
}

/* SECTION-3 */

.section-3{
    margin-top:80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-2{
    width: 500px;
    height: 500px;
    margin-right: 20px;
    object-fit: contain;
}

/* SECTION-4 */

.section-4{
    margin-top: 30px;
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
}

.card{
    width: calc(100% / 3);
    padding: 0 5px 20px;
    min-width: 300px;
}

img{
    display: block;
    width: 100%;
}

/* SECTION-5 */

.section-5{
    text-align: center;
}